* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(assets/frutasyVerdurasHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header nav li {
  font-style: italic;
  -webkit-margin-end: 3px;
          margin-inline-end: 3px;
  padding: 1px 1px;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  border: solid 2px #f8f7f7;
  margin-top: 10%;
}

header nav li:hover {
  background-color: black;
}

section {
  background-color: white;
}

section article {
  text-align: center;
}

section article h2 {
  color: black;
  font-family: "Akaya Kanadaka";
  font-size: 60px;
}

section article li {
  color: white;
}

aside {
  background-color: #4dfd36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside li {
  font-family: "Akaya Kanadaka";
  font-size: 20px;
  color: black;
}

aside p {
  font-family: "Adamina";
  font-size: large;
  text-align: center;
  color: black;
}

aside iframe {
  margin-top: 80px;
}

footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(#0e0d0d), to(#4b4a4a));
  background-image: linear-gradient(to top, black, #0e0d0d, #4b4a4a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 150px;
}

footer h4 {
  font-family: 'Andamina', serif;
  border: solid 2px white;
  border-radius: 10px;
  padding: 2px 2px;
  margin-top: 50px;
  color: white;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.extra {
  color: darkgoldenrod;
  font-size: 50px;
}

.ofertaDelDia__mercaderia {
  background-color: #080808;
  border: solid 2px black;
  padding: 2px 18px;
  border-radius: 1px;
  font-family: 'Akaya Kanadaka', cursive;
}

.ofertaDelDia__mercaderia--textAlign {
  list-style-type: none;
  text-align: left;
  font-size: 30px;
}

.receta__titulo--color {
  font-family: "Akaya Kanadaka";
  font-size: 50px;
  color: black;
}

.caption {
  color: black;
  font-family: "Akaya Kanadaka";
  font-size: 40px;
}

.seccionLista__tablaCompra--fontStyle {
  font-style: oblique;
}

.seccionFrutas__backgraund--color {
  background-color: #ff686b;
  border: solid 3px #ff7c7f;
  height: 670px;
}

.seccionVerdura__backgraund--color {
  background-color: #a5ffd6;
  border: solid 3px #214e39;
  height: 670px;
}

.seccionVarios__backgraund--color {
  background-color: #84dcc6;
  border: solid 3px white;
  height: 670px;
}

.seccionLista__backgraund--color {
  background-color: #ffa69e;
  border: solid 3px white;
  height: 670px;
}

.border {
  border: 2px solid #070707;
}

.aside__receta--border {
  border: 2px solid black;
}

.header__logo {
  float: left;
}

.header__logo:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: 2s;
  transition: 2s;
}

#gridsEnSection {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "oferta verdura" "oferta fruta" "oferta varios";
  -ms-grid-columns: 25% auto;
      grid-template-columns: 25% auto;
  -ms-grid-rows: 33% 33% auto;
      grid-template-rows: 33% 33% auto;
}

article#verduras {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: verdura;
}

article#frutas {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fruta;
}

article#varios {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: varios;
}

article#oferta {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: oferta;
}

.gridsEnBody {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "section aside" "footer footer";
  -ms-grid-columns: 80% auto;
      grid-template-columns: 80% auto;
  -ms-grid-rows: 16% 69% auto;
      grid-template-rows: 16% 69% auto;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aside;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

@media only screen and (max-width: 400px) {
  .gridsEnBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #gridsEnSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .gridsEnBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #gridsEnSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

tr > th {
  padding: 7px;
  border: 2px solid black;
}
/*# sourceMappingURL=indexConSass.css.map */