$colorFrutas: #ff686b;
$colorVerduras: #a5ffd6;
$colorVarios: #84dcc6;
$colorLista:#ffa69e;
$ancho:400px;
@mixin fuente-Y-Peso($f, $p) {
    font-family: $f;
    font-size: $p;

}
*{
    margin: 0;
    padding: 0;
}



header{
    
    background-image:url(assets/frutasyVerdurasHeader.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    nav li{
        
        font-style:italic;
        margin-inline-end: 3px;
        padding: 1px 1px;
        border-radius: 5px;
        transition: 1s;
        border: solid 2px rgb(248, 247, 247);
        margin-top: 10%;
        
    }
    nav li:hover{
        background-color: black;
    }
}



section{
    background-color: white;
    article{
        text-align:center;
        h2{
            color: black;
            @include fuente-Y-Peso('Akaya Kanadaka', 60px );
        }
        li{
            color:white;
        }
    }

}

aside{
    background-color: #4dfd36;
    display: flex;
    flex-direction:column;
    align-items: center;
    
    li{
        @include fuente-Y-Peso('Akaya Kanadaka', 20px );
        color:black;
    }
    p{
        @include fuente-Y-Peso('Adamina', large );
        text-align: center;
        color:black;
    }
    iframe{
        margin-top: 80px;
    }
}

footer{
    background-image: linear-gradient(to top, black,rgb(14, 13, 13), rgb(75, 74, 74));
    display: flex;
    justify-content:space-evenly;
    height: 150px;
    h4{
        font-family: 'Andamina', serif;
        border: solid 2px white;
        border-radius: 10px;
        padding: 2px 2px;
        margin-top: 50px;
        color: white;
        height: min-content;
    }
}
.extra{
    color: darkgoldenrod;
    font-size: 50px;
}
.ofertaDelDia__mercaderia{
    background-color: #080808;
    border: solid 2px black;
    padding: 2px 18px;
    border-radius: 1px;
    font-family: 'Akaya Kanadaka', cursive;
    
}

.ofertaDelDia__mercaderia--textAlign{
    list-style-type: none;
    text-align:left;
    font-size: 30px;
    
}
.receta__titulo--color{
    @include fuente-Y-Peso('Akaya Kanadaka', 50px );
    color:black;
}

.caption{
    color: rgb(0, 0, 0);
    @include fuente-Y-Peso('Akaya Kanadaka', 40px );
}
.seccionLista__tablaCompra--fontStyle{
    font-style: oblique;
}
.seccionFrutas__backgraund--color{
    background-color: $colorFrutas;
    border:solid 3px $colorFrutas+20;
    height: 670px;
}
.seccionVerdura__backgraund--color{
    background-color:$colorVerduras;
    border: solid 3px (($colorVerduras/2)-50);
    height: 670px;
}
.seccionVarios__backgraund--color{
    background-color:$colorVarios;
    border: solid 3px (($colorVarios*2)+20);
    height: 670px;
}
.seccionLista__backgraund--color{
    background-color: $colorLista;
    border: solid 3px $colorLista+$colorFrutas;
    height: 670px;
}
.border{
    border: 2px solid rgb(7, 7, 7);
}
.aside__receta--border{
    border: 2px solid black;
}
.header__logo{
     float: left;
}
.header__logo:hover{
    transform:rotateZ(360deg);
    transition: 2s;
}
#gridsEnSection{
    display: grid;
    grid-template-areas: 
    "oferta verdura"
    "oferta fruta"
    "oferta varios";
    grid-template-columns: 25% auto;
    grid-template-rows: 33% 33% auto;
}
article#verduras{
grid-area: verdura;
}
article#frutas{
    grid-area: fruta;
}
article#varios{
    grid-area: varios;
}
article#oferta{
    grid-area: oferta;
}
.gridsEnBody{
    display: grid;
    grid-template-areas:
    "header header"
    "section aside"
    "footer footer";
    grid-template-columns: 80% auto;
    grid-template-rows: 16% 69% auto;
}
header{
    grid-area: header;
}
section{
    grid-area: section;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
@media only screen and(max-width: $ancho){
    .gridsEnBody{
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    #gridsEnSection{
        display: flex;
        flex-direction: column;
        width: max-content;
    }
}
@media only screen and(min-width: 401px)and(max-width: 960px) {
    .gridsEnBody{
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    #gridsEnSection{
        display: flex;
        flex-direction:column;
        width: max-content;
    }
    
}


tr>th{
    padding: 7px;
    border: 2px solid black;
}
 
